@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bangers&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-brand-color: #cc462d;
    --light-shades-color: #faf7f7;
    --light-accent-color: #e3a579;
    --dark-shades-color: #332d35;
    --dark-accent-color: #988b8e;
    --title-font-family: 'Bangers', cursive;
    --header-font-family: 'Fira Sans Condensed',
        sans-serif;
    --main-font-family: 'Andika', sans-serif;
}

body {
    font-family: var(--main-font-family);
    margin: 0;
    padding: 0;
    background: var(--dark-shades-color);
    color: var(--light-shades-color);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100px;
    /* You can adjust this value */
}

.logo {
    max-height: 50px;
    width: auto;
    /* This ensures that the aspect ratio of the image is maintained */
    display: block;
    /* Removes the default space below an inline image */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 80%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.game-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;

}

.card-front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden-image {
    display: none;
}

.card-front {
    background: #333;
}

.card-back {
    background: #4a90e2;
}

.start-button {
    background: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    background: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 10px;
}

Skip to content Search… All gists Back to GitHub @lukaszglowacz @gokulkrishh gokulkrishh/media-query.css Last active 9 hours ago • Report abuse Code Revisions 5 Stars 2,
733 Forks 1,
095 CSS Media Queries for Desktop,
Tablet,
Mobile. media-query.css
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px*/



@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        max-height: 30px;
    }
}