@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bangers&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-brand-color: #cc462d;
    --light-shades-color: #faf7f7;
    --light-accent-color: #e3a579;
    --dark-shades-color: #332d35;
    --dark-accent-color: #988b8e;
    --title-font-family: 'Bangers', cursive;
    --header-font-family: 'Fira Sans Condensed',
        sans-serif;
    --main-font-family: 'Andika', sans-serif;
}

body {
    font-family: var(--main-font-family);
    margin: 0;
    padding: 0;
    background: var(--dark-shades-color);
    color: var(--light-shades-color);
    min-height: 100vh;
    overflow: hidden;

}

header {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100px;
    /* You can adjust this value */
}

.logo {
    max-height: 50px;
    width: auto;
    /* This ensures that the aspect ratio of the image is maintained */
    display: block;
    /* Removes the default space below an inline image */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.game-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;

}

.card-front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden-image {
    display: none;
}

.card-front {
    background: #333;
}

.card-back {
    background: #4a90e2;
}

.start-button {
    background-color: #4CAF50;
    border: none;
    color: var(--light-shades-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.start-button:hover {
    background-color: var(--light-shades-color);
    /* Green */
    color: var(--dark-shades-color);
}

.score-board {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.score-board p {
    margin: 0 30px;
}

footer {
    background: var(--dark-shades-color);
    color: var(--light-shades-color);
    text-align: center;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    /* Explicitly setting the right position */
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Modal with instructions */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 33, 41, 0.8);
    /* This allows some view of the content behind the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.modal-content {
    background-color: rgba(35, 33, 41, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* Adjust this for your content's width */
    text-align: left;
    text-decoration: none;
    color: var(--light-shades-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal-content ul {
    align-self: center;
    /* Overrides the parent align-items to start at the left */
    max-width: 400px;
}

#closeModalBtn {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color: var(--main-brand-color);
    color: var(--light-shades-color);
    border-radius: 5px;
    cursor: pointer;
}

#closeModalBtn:hover {
    background-color: #0a74da;
}

/* Media queries */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .logo {
        max-height: 30px;
    }

    main {
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }

    .game-section {
        flex: 3;
        overflow: hidden;
    }

    .button-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game-container {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        /* Add this line for 4 rows */
        grid-gap: 10px;
        margin: 10px;
        overflow: hidden;
    }

    .game-card img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        /* Adjusts the size of the image within its box */
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px*/



@media (min-width: 320px) and (max-width: 480px) {
    header {
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        height: 50px;
        /* You can adjust this value */
        margin-top: 20px;
    }

    .logo {
        max-height: 30px;
    }
}