@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bangers&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-brand-color: #cc462d;
    --light-shades-color: #faf7f7;
    --light-accent-color: #e3a579;
    --dark-shades-color: #332d35;
    --dark-accent-color: #988b8e;
    --title-font-family: 'Bangers', cursive;
    --header-font-family: 'Fira Sans Condensed',
        sans-serif;
    --main-font-family: 'Andika', sans-serif;
}

body {
    font-family: var(--main-font-family);
    margin: 0;
    padding: 0;
    background: var(--light-shades-color);
    color: var(--dark-shades-color);
    min-height: 100vh;
}

header {
    font-family: var(--title-font-family);
    color: var(--main-brand-color);
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 80%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.game-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;

}

.card-front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden-image {
    display: none;
}

/* .card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.card-front {
    background: #333;
}

.card-back {
    background: #4a90e2;
}

.start-button {
    background: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    background: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 10px;
}